<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Vadim.Properties.Settings.IT_KubDBConnectionString"
            connectionString="Data Source=DESKTOP-UU2MMUM\SQLEXPRESS;Initial Catalog=IT_KubDB;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>